.boton{
    background-color: #0f7729;
    color: black;
    border-radius: 14px;
    text-align: center;
    font-size: 24px;
    width: 80px;
    height: 80px;
    opacity: 0.8;
}
.boton:hover {opacity: 1}

.div{
    overflow-x:auto;  
}
